[user]
	name = Ricky Hsieh
	email = rickyhsieh@gorilla-technology.com
[alias]
	co = checkout
	ci = commit
	st = status
	sw = switch
	br = branch
	df = diff
	l = log --oneline --graph
	ls = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	rl = reflog --pretty=format:\"%Cred%h%Creset %C(auto)%gd%Creset %C(auto)%gs%C(reset) %C(green)(%cr)%C(reset) %C(bold blue)<%an>%Creset\" --abbrev-commit
	sl = stash list --pretty=format:\"%C(red)%h%C(reset) - %C(dim yellow)(%C(bold magenta)%gd%C(dim yellow))%C(reset) %<(70,trunc)%s %C(green)(%cr)    %C(bold blue)<%an>%C(reset)\"
	ss = stash push
	sg = stash pop
[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !gh auth git-credential
[gui]
	editor = nvim
[init]
	defaultBranch = main
[credential]
	helper = store
[core]
	pager = cat
[merge]
	conflictstyle = diff3

